# Required
BOT_TOKEN=8006694918:AAF11yEol4yK_maNWLmlxOIUHbSnKfs56D4
API_ID=33001600
API_HASH=5c736b8a64043459bc2e87d88d312880
DATABASE_URI=mongodb+srv://vincenzo324926_db_user:faizan324926@cluster0.jndittz.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0/
LOG_CHANNEL=-1004458161620
ADMINS=8108720491

# Recommended
CHANNELS=-1004422455556
BIN_CHANNEL=-1003985377043
DATABASE_NAME=Cluster0
COLLECTION_NAME=dreamcinezone_files

# Web and streaming
PORT=8080
FQDN=https://auto-filter-bot-2pv4.onrender.com
HAS_SSL=True
NO_PORT=True
STREAM_MODE=True
PREMIUM_STREAM_MODE=False

# Force subscription
AUTH_CHANNELS=-1001234567890
AUTH_REQ_CHANNELS=-1001234567890
REQST_CHANNEL_ID=-1001234567890
SUPPORT_CHAT_ID=-1003771029643
SUPPORT_CHAT=https://t.me/knox_support12

# Optional features
IS_VERIFY=False
MAINTENANCE=False
TMDB_API_KEY=
SHORTENER_WEBSITE=
SHORTENER_API=
